body {
  font-family: Helvetica, Sans-Serif;
  background-color: black;
  color: white;
}

.article-slider-container {
  width: 600px; /* Needs to match .article-slider-input width */
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-slider-title {
  font-size: 2em;
  align-self: baseline;
  margin-bottom: 80px;
}


.slider-value {
  font-size: 1.3em;
  margin-top: -40px;

  left: 20%;
  padding-left: 10px;
}

.article-container {
  width: 200px;
  height: auto;
  border-left: 1px white solid;
  padding: 10px;

}


.article-title {
  max-width: 90%;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  line-height: 1.4em;
}

.article-link {
  max-width: 90%;
  font-size: 0.8em;
  color: white;
  overflow: hidden;

}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 33px;
  border-left: 1px white solid;
  border-right: 1px white solid;
}

.slider-label {
  display: none;
  font-size: 1em;
  font-weight: bold;
}

.slider-input {
  width: 600px; /* Needs to match .article-slider-container width */
  margin-top: 60px;
}





/* WHITE THIN */

input[type=range] {
  -webkit-appearance: none;
  margin: 10.8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 1.3px solid #ffffff;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 1.3px solid #ffffff;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #f2f2f2;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ffffff;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 1.3px solid #ffffff;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 3px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}
